.footer-class{
    padding-left: 20em;
    width:300px;
    padding-bottom: 10px;
}
.footer-class hr{
    width: 3%;   
    height: 1.195px;
    background-color: black;
}
.social-handle li img{
    display: inline-block;
    margin-top: 30px;
}
#top-arrow{
    width: 48px;
    height: 48px;
    margin-left: 750px;
    display: inline-block;
 }
#top-arrow:hover{
    cursor: pointer;
    /* opacity: .5; */
    transform: scale(1.1)
}